
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/calculadora}" method="post">
    <label>Primeiro número</label>
    <input type="number" name="num1" th:value="${valor1}" required>

    <label>Segundo número</label>
    <input type="number" name="num2" th:value="${valor2}" required>

    <div>
        <p>Selecione o operador</p>

        <fieldset required>
        <input type="radio" id="operador" name="operador" value="+" th:checked="${operacao} == '+' ">
        <label for="operador">Adição</label>

        <input type="radio" id="subtracao" name="operador" value="-" th:checked="${operacao} == '-' ">
        <label for="subtracao">Subtração</label>

        <input type="radio" id="multiplicacao" name="operador" value="*" th:checked="${operacao} == '*' ">
        <label for="multiplicacao">Multiplicação</label>

        <input type="radio" id="divisao" name="operador" value="/" th:checked="${operacao} == '/' ">
        <label for="divisao">Divisão</label>
        </fieldset>


    </div>

    <button type="submit">Calcular</button>

</form>

<section  th:if="${resultado != null}">
    <p>Resultado: <strong th:text="${resultado}"></strong></p>
</section>
<p th:text="${erro}"></p>

</body>
</html>
